@font-face {
	font-family: 'granstander_cleanregular';
	src: url('../font/grandstander-clean-webfont.woff2') format('woff2'), url('../font/grandstander-clean-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratmedium';
	src: url('../font/montserrat-medium-webfont.woff2') format('woff2'), url('../font/montserrat-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gothamlight';
	src: url('../font/gothamlight-webfont.woff2') format('woff2'), url('../font/gothamlight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gothammedium';
	src: url('../font/gothammedium-webfont.woff2') format('woff2'), url('../font/gothammedium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gothamthin';
	src: url('../font/gotham-thin-webfont.woff2') format('woff2'), url('../font/gotham-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'metropolislight';
	src: url('../font/metropolis-light-webfont.woff2') format('woff2'), url('../font/metropolis-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'metropolismedium';
	src: url('../font/metropolis-medium-webfont.woff2') format('woff2'), url('../font/metropolis-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'metropolisregular';
	src: url('../font/metropolis-regular-webfont.woff2') format('woff2'), url('../font/metropolis-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'metropolissemi_bold';
	src: url('../font/metropolis-semibold-webfont.woff2') format('woff2'), url('../font/metropolis-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratbold';
	src: url('../font/montserrat-bold-webfont.woff2') format('woff2'), url('../font/montserrat-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratextralight';
	src: url('../font/montserrat-extralight-webfont.woff2') format('woff2'), url('../font/montserrat-extralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserratlight';
	src: url('../font/montserrat-light-webfont.woff2') format('woff2'), url('../font/montserrat-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
